<?xml version="1.0"?>
<launch>
 
<include file="$(find f1tenth_gym_ros)/launch/gym_bridge_host.launch"/>
<node pkg="f1tenth_team1_milestone2" name="rrt_node" type="rrt_node" output="screen">
    <rosparam command="load" file="$(find f1tenth_team1_milestone2)/rrt_params.yaml"/>
  </node>


  </launch>
